.cabinetnav {
  // position: relative;
  // min-height:300px;
  .descnav {
    @media(max-width:768px) {
      display: none;
    }
    position: fixed;
    top: 150px;
    right: calc(10px + (100 - 10) * ((100vw - 768px) / (1600 - 768)));;
    padding: 25px;
    border:1px solid rgb(148, 148, 148);
    border-radius: 15px;
    // width: 200px;
    min-width: 250px;
    a {
      display: block;
      font-size: 18px;
      margin: 14px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        color: #016DA5!important;
        font-weight: bold;

        i {
          color: #016DA5;;
        }
      }
    }
    a.active {
        color: #016DA5!important;
        font-weight: bold;

        i {
          color: #016DA5;;
        }
    }
  }

  .mobnav {

    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 4px 5px;
    background-color: white;
    z-index: 1;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      i {
        font-size: 15px;
      }
    }
    a.active {
      color: #016DA5!important;
      font-weight: bold;

      i {
        color: #016DA5;;
      }
  }
    @media(min-width:768px) {
      display: none;

    }
  }
}