.loader {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #17c2d5f3, #2b83afd4, #0195ffb4, #aea4a46c);
  background-size: 400% 400%;
  opacity: 1;
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  z-index: 10000;

  &--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      // font-style:;
      margin-top: 15px;
      font-weight: bold;
      color: rgba(2, 2, 2, 0.551)
    }
    // margin-top:50%;
    img {
      width: 80px;
      height: 80px;
      transition: all 5s;
      animation: loader 4s linear infinite;
    }
  }
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotateY(360deg)
               
  }
  100% {
    transform: rotateY(0deg)
           
  }
}