.about {
  .whyus-block {
  
    .whyus_top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      @media(max-width:768px) {
        flex-direction: column;
      }
      @media(min-width:769px) {
        p {
          max-width: 30%;
        }
        span {
          display: block;
        }
      }
      h2 {
        font-size: calc(48px + (80 - 48) * ((100vw - 768px) / (1600 - 768)));
        line-height: 60px;
      }
    
    }
  }

  .advantage_block {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media(max-width:769px) {
      flex-direction: column;
      align-items: center;
      // transform: translateX(14%);
    }
  
    .advantage--item:nth-child(3) {
      p {
        transform: translateY(-15%);
      }

      .advantage--img {
        img {
          top: 50%;
          left:50%;
          transform: rotate(-45deg) translate(40%, -40%);
          -ms-transform: rotate(-45deg) translate(40%, -40%); /* IE 9 */
          -webkit-transform: rotate(-45deg) translate(40%, -40%);
        }
      }
    }
    .advantage--item {
      @media(max-width:769px) {
        p {
          font-weight: normal;
        }
      }
      &:not(:last-child) {
      @media(max-width:769px) {
          margin-bottom: 50px;
        }
      }
    }
    .advantage--img {
      width:164px;
      height:164px;
      overflow:hidden;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Safari and Chrome */
      position:relative;
      border: 10px solid;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to left, #67CFF7, #FFF600);
      margin-bottom: 50px;
      img {
        position: absolute;
        top:92px;
        left: 92px;
        transform: rotate(-45deg) translate(15%, -60%);
        -ms-transform: rotate(-45deg) translate(15%, -60%); /* IE 9 */
        -webkit-transform: rotate(-45deg) translate(15%, -60%); /* Safari and */
        
        // margin-left: calc(50% + );
        // top:-81.5px;
      }
    }
  }
}

.practice {
  margin-top: calc(85px + (120 - 85) * ((100vw - 768px) / (1600 - 768)));

  h1 {  
    font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1600 - 768)));
    line-height: calc(38px + (60 - 38) * ((100vw - 768px) / (1600 - 768)));
    font-weight: bold;
    
  }

  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width:769px) {
      flex-direction: column;
    }
  }
  .practice_item {
    h2 {
      font-weight: bold;
      font-size: calc(60px + (80 - 60) * ((100vw - 768px) / (1600 - 768)));;
    }
    h1 {
      font-size: 80px;
    }
    position: relative;
    &:not(:last-child) {
      @media(max-width:769px) {
        margin-bottom: 50px;
      }
    }
    p {
      margin-top: 40px;
      text-align: center;
    }
    img {
      position: absolute;
      top:-40%;
      z-index: -1;
    }
  }
  &--text {
    margin-top: 50px;
    text-align: center;
    @media(min-width:768px) {

      padding: 20px 25px;
    }
  }
  &--bigtext {
    margin-top: 50px;
    @media(min-width:768px) {

      padding: 20px 25px;
    }
  }

  &--banner {
    margin-top: 80px;
    background-color: #CADAF7;
    position: relative;
    // background-image: url('/img/sot.png');
    // background-repeat: no-repeat;
    // // background-size: c;
    // background-position: top 50% left 105%;
    &--content {
      @media(max-width:990px) {
        display: flex;
        flex-direction: column;
      }
    }
    padding:90px;
    h2 {
      font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1600 - 768)));
      line-height: calc(38px + (60 - 38) * ((100vw - 768px) / (1600 - 768)));
      font-weight: bold;
    }
    p {
      margin-top: 62px;
      width: 40%;
      @media(max-width:990px) {
        width: 100%;
      }
    }

    img {
      @media(min-width:990px) {
        position: absolute;
        top:10%;
        right: -5%;
      }
    }
  }
}