.contact {
    h1,h2 {
        font-size: calc(55px + (80 - 55) * ((100vw - 768px) / (1600 - 768)));
        line-height: calc(38px + (60 - 38) * ((100vw - 768px) / (1600 - 768)));
        font-weight: bold;
    }

    .contact_texts {
        margin:96px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // align-items: center;
        // width: 20%;
        .contact_text {
            width: 20%;
            @media(max-width: 992px) {
                width: 45%;
                margin-right: 15px;
                margin-bottom: 15px;
            }
            @media(max-width:768px) {
                width: 90%;
                margin-right: 15px;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 25px;
            }            
            span {
                font-size: 21px;
                font-weight: bold;
            }
        }
    }
}