@font-face {
  font-family: "AvenirNext";
  src: url("../../fonts/avenirnextcyr-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../fonts/avenirnextcyr-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BigNoodleTitling";
  src: url("../../fonts/12458.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CTCSplashRounded";
  src: url("../../fonts/10475.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
