
@import 'fonts/fonts';
@import "header/header";
@import 'header/mobnav';
@import 'home/home';
@import 'footer/footer';
@import 'modal/modal';
@import 'about/about';
@import 'form/form';
@import 'contact/contact';
@import 'news/news';
@import 'radiobtn/radiobtn';
@import 'range/range';
@import 'discount/discount';
@import 'loader/loader';
@import 'filedrop/filedrop';
@import '404/404';
@import 'pdf/pdf';
@import 'print/print';
@import 'dogovor/dogovor';
$primary-color: black;

html {
  box-sizing: border-box;
  // height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
}

.bold {
  font-weight: bold;
}

body {
  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  font-family: 'AvenirNext'!important;
  margin: 0 !important;
  font-size: 16px;
  padding: 0 !important;
  overflow-x: hidden !important;
  min-width: 320px;
}
a {
  text-decoration: none;
  cursor: pointer !important;
  color:black!important;

  &:hover {
      text-decoration: none!important;
  }
}
p {
  // font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: bold;
  // line-height: 32px;
}
h1 {
  // font-size: calc(24px + (40 - 24) * ((100vw - 768px) / (1600 - 768)));
  // line-height: calc(24px + (45 - 24) * ((100vw - 768px) / (1600 - 768)))
}
.pointer {
  cursor: pointer;
}
.headertext { 
  padding: 40px 0;
  padding-left: 8px;
}
h1 {
  line-height: 32,78px;
  // font-size: 28px;
  font-weight: bold;
}
h2 {
  line-height: 32,78px;
  font-size: 28px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
}
span {
  // font-size: 12px;
  // font-weight: bold;
  // cursor: pointer;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
  margin:0;
  padding: 0;
}

li {
  list-style: none;
}

// .container {
//   padding: 0 15px;
// }

.extra_padding {
  padding: 0 385px;
}



// Container start
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
@media screen and (min-width: 2600) {
  .container {
    width: 2500px;
  }
}
@media screen and (min-width: 3000) {
  .container {
    width: 2600px;
  }
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.alert-error {
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.224);
  border-radius: 5px;
  margin-bottom: 15px;
}

// Container end


// Loader Text

.load-wrapp {
}

.load-wrapp:last-child {
  margin-right: 0;
}

.letter {
  float: left;
  font-size: 14px;
  color: rgb(54, 54, 54);
}

.l-1 {
  animation-delay: 0.48s;
}
.l-2 {
  animation-delay: 0.6s;
}
.l-3 {
  animation-delay: 0.72s;
}
.l-4 {
  animation-delay: 0.84s;
}
.l-5 {
  animation-delay: 0.96s;
}
.l-6 {
  animation-delay: 1.08s;
}
.l-7 {
  animation-delay: 1.2s;
}
.l-8 {
  animation-delay: 1.32s;
}
.l-9 {
  animation-delay: 1.44s;
}
.l-10 {
  animation-delay: 1.56s;
}

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.proverka {
  padding-top: 1000px;
}

.fixed_btn {
  background-color: #0F9DE7;
  padding:20px 0;
  font-size: 20px;
  width: 300px;
  font-weight: bold;
  text-align: center;
  color:white!important;
  border-radius: 15px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  -webkit-animation: pulsing 3.5s infinite;
  &:hover {
    -webkit-animation: none;
  }
}

@-webkit-keyframes pulsing {
  0% {
    transform:scale(.96) translateX(-50%);
  }
  70% {
    transform:scale(1) translateX(-50%);;
    box-shadow: 0 0 0 20px rgba(#5a99d4, 0);
  }
    100% {
    transform:scale(.96) translateX(-50%);;
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}

.service_icon {
  // filter: invert(6%) sepia(1%) saturate(20%) hue-rotate(3deg) brightness(5%) contrast(50%);
  filter: sepia(100%) hue-rotate(190deg) saturate(800%);
} 

